body {
    margin: 0px;
    background-color: #ffa781;
}
@font-face {
    font-family: fuente;
    src: url(Righteous-Regular.woff2);
}

p {
    font-family: 'fuente';
    font-size: 50px;
    color: #5b0e2d;
}

